{% extends 'admin/base.html.twig' %}
{% block centre %}
  <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Users <small>Tous les Emails qui ont ete envoyer par le formulaire de contact</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Vous rechercher...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Recherche</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Email <small>Recu</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                      
                    </p>
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Nom</th>
                          <th>Email</th>
                          <th>Sujet</th>
                          <th>date</th>
                          <th>Courriel envoyer</th>
                          
                        </tr>
                      </thead>
                      {%  if form_email is defined %}
                      <tbody>
						{% for form in form_email %}
                        <tr width="10%">
                          <td>{{ form.name }}</td>
                          <td>{{ form.email }}</td>
                          <td>{{ form.subject }}</td>
                          <td>{{ form.creationdate|date('m-d-Y h:i:s a') }}</td>
                          <td>
                          {%  if  form.emailnotification  == '1' %}
                          Envoyé
                          {% endif %}
                          {%  if  form.emailnotification  == '0' %}
                          <SELECT name="envoyer"  id="envoyer{{ form.id }}">
                                <OPTION id="Envoyer{{ form.id }}-1" >Envoyé</OPTION>
                                <OPTION id="Envoyer{{ form.id }}-0" selected>Pas envoyé</OPTION>
                                
                            </SELECT>
                         {% endif %}
                         </td>
                         {# {{ form.emailnotification }} #}
                          
                        </tr>
                        {% endfor %}
                         {% endif %} 
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              </div>
             </div>
            </div>
        <!-- /page content -->
{% endblock %}	
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
//quand la page est chargé alors on execute le code dans les balises script
$(document).ready(function(){
	
	
	{%  if form_email is defined %}
    //on utilise un boucle twig sur le tableau form-email qui a recuperer les données de la table form_email
	{% for form in form_email %}
	
	$("#envoyer{{ form.id }}").on("change", function(event){
		console.log(event);
		var id= {{ form.id }};
		//url de la route pour modifier en db le statut de envoyer
		var url = "/admin/formenvoi/{{ form.id }}";
		//action ajax qui envoie l'url de la route et
		$.ajax(url).done(function(){
				 //on va selectionné la balise envoyer(id) et vider l'interieur
				 $('#envoyer{{ form.id }}').empty();
				 //on ajoute le text envoyer 
				 $('#envoyer{{ form.id }}').before('Envoyer');
				 //on efface la balise select
				 $('#envoyer{{ form.id }}').remove();
				 
			});
		
		//$('#result').load('result.txt');
		

			
	});


	{% endfor %}
		
    {% endif %} 
		

	
});

</script>
{% endblock %}