{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
	<div class="check">	 
			 <div class="col-md-3 cart-total">
			 <a class="continue" href="/caddie/continuer"">Continue your purchases</a>
			 <div class="price-details">
			     {%  if liste_commande is defined %}
			     
				 <h3>Price Details</h3>
				 {% for commande in liste_commande %}
				 <span id="lab{{ loop.index }}">Produit {{ loop.index }} x {{ commande.quantity }}</span>
				 
				 <span class="total1" id="ptipri{{ loop.index }}">{{ commande.price }} €</span>
				 {% endfor %}
				 <span class="total1">---</span>
				
				 <div class="clearfix"></div>				 
			 </div>	
			 <ul class="total_price">
			   <li class="last_price"> <h4>TOTAL</h4></li>	
			   {%  if total_prix is defined %}
			   <li class="last_price"><span id="total">{{ total_prix }} €</span></li>
			   {% endif %}
			   <div class="clearfix"> </div>
			   {% endif %}
    			 {% if username is defined %}	
    			<div class="white item_price">
    			 	<a href="/logout.html" >logout</a>
    			</div>	
    			<br />
    			<div class="white item_price">
    			 	<a href="/profil.html" >profil</a>
    			</div>					
				
				{% else %}
				<div class="white item_price">
			 	<a href="/register.html" >Register</a>
    			</div>	
    			<br />
    			<div class="white item_price">
    			 	<a href="/login.html" >login</a>
    			</div>	
								
				{% endif %}
			 </ul>
						 
			</div>
						
		 <div class="col-md-9 cart-items">
            	{% if nbitem is defined %}	 	
			 <h1>My Shopping Bag ({{ nbitem }})</h1>
			 	 {% else %}
			  <h1>My Shopping Bag (0)</h1>	 
			 	 {% endif %}		 
			  {% if liste_commande is defined %}
			  
			  {% for commande in liste_commande %}
			  				
			 <div class="cart-header{{ loop.index }}">
				 <div class="close" id="num{{ loop.index }}"></div>
				 
				 <div class="cart-sec simpleCart_shelfItem">
						<div class="cart-item cyc">
							 <img src="{{ commande.picture }}" class="img-responsive" alt=""/>
						</div>
					   <div class="cart-item-info">
						<h3><a href="#">{{ commande.label }}</a></h3>
						<ul class="qty" >
							
							<li>
    							<p>Quantity : </p>
    							<input type="text" value="{{ commande.quantity }}" id="qty{{ loop.index }}">
    							</input>
							</li>
								<li id="id=mod{{ loop.index }}">
								<input type="button" id="mod{{ loop.index }}" value="Modify">
							</input>
							
							</li>
							
						</ul>						
							 <div class="delivery" id="afficher{{ loop.index }}"><span id="result{{ loop.index }}">
							 Prix : {{ commande.productprice }} x {{ commande.quantity }} = {{ commande.price }} €
							 <span>
							 <div class="clearfix"></div>
				        </div>	
					   </div>
					   <div class="clearfix"></div>
											
				  </div>
			 </div>
			 			
                        
             {% endfor %}		
           {% endif %}
		 </div>
		 <div class="col-md-9 cart-items">
		 </div>
		 <div class="col-md-3 cart-total">
			 <a class="continue" href="/caddie/continuer">Validate the order</a>
		</div>	 
		
			<div class="clearfix"> </div>
	 </div>
	 </div>
{% endblock %}
{% block javascripts %}

<script>

//quand la page est chargée alors on execute le code dans les balises script
$(document).ready(function(){
		var new_total = 0;	
     // si liste_commande est definie
	 {% if liste_commande is defined %}
	 //alors on fait une boucle sur liste_commande par le twig
	 {% for commande in liste_commande %}
	 
		
		//j'initilaise une variable url2 pour recuperer la nouvelle quantité dans l'url
		var url2 = "/caddie/supprimer/{{ commande.idproduct }}/";
		
		//j'utilise un ecouteur sur l'action click du bouton a l'id #num(n) supprimer la ligne de commande		
		$('#num{{ loop.index }}').on('click', function(c){
			//quand on clique sur le bouton alors on fait disparaitre le produit en fadeOut
			$('.cart-header{{ loop.index }}').fadeOut('slow', function(c){
			//et on l'efface completement de la page 	
			$('.cart-header{{ loop.index }}').remove();
			});
			//on execute l'ajax qui envoie la route pour faire l'action de supprimer dans la bd
			$.ajax(url2).done(function(data){
								
			});
		});	  
		//j'utilise un ecouteur sur l'action click du bouton a l'id #mod(n)	
		$("#qty{{ loop.index }}").on('focusout', function(event){
			//je recupere la nouvelle quantite 
			 var quantite = $('#qty{{ loop.index }}').val();	
			 //je recupere le prix			 
			 var prix = {{ commande.productprice }};
			 //je recupere le total
		     var result{{ loop.index }} =  prix * quantite;
		   //j'initilaise une variable url pour recuperer la nouvelle quantité dans l'url
				console.log('try to generate url' + prix);
		     var url = "/caddie/modifier/{{ commande.idproduct }}/"+quantite;
		     var url2 = "/caddie/supprimer/{{ commande.idproduct }}";
		     console.log(url2);
			if (quantite==0){
				 $.ajax(url2).done(function(data){
						$('.cart-header{{ loop.index }}').fadeOut('slow', function(c){
							//alert(data);
							//et on l'efface completement de la page 	
							$('.cart-header{{ loop.index }}').remove();
							$('#ptipri{{ loop.index }}').empty();
							$('#lab{{ loop.index }}').empty();
							$('#total').empty();
							console.log('data'+data);
							$('#total').prepend(data);							
						});
				})
			}
			else{

				//on execute l'ajax qui envoie la route pour faire l'action de modifier dans la bd
				console.log(url);
			     $.ajax(url).done(function(data){
				     var tot = data;
				     //console.log('Attempting to modify caddy : '+url + ' with new total : ' + data);
			     		//j'enleve les elements dans la balise id="#ptipri(n)"	
	 		   			 $('#total').empty();
							//a l'interieur je rajoute le nouvel element 
						 $('#total').prepend(tot+' € ');				     	
				     	
						  //j'enleve les elements dans la balise id="#resultat(n)"	
			   			 $('#result{{ loop.index }}').empty();
							//a l'interieur je rajoute le nouvel element 
						 $('#result{{ loop.index }}').prepend('Prix : '+prix+' x '+quantite+'  = '+result{{ loop.index }}+' € ');
					     //j'enleve les elements dans la balise id="#ptipri(n)"	
			   			 $('#ptipri{{ loop.index }}').empty();
							//a l'interieur je rajoute le nouvel element 
						 $('#ptipri{{ loop.index }}').prepend(result{{ loop.index }}+' € ');


						//j'enleve les elements dans la balise id="#ptipri(n)"	
			   			 $('#lab{{ loop.index }}').empty();
							//a l'interieur je rajoute le nouvel element 
						 $('#lab{{ loop.index }}').prepend('Produit '+{{ loop.index }}+' x '+quantite);	
						});
				}
			});

		

		//fin de la boucle for en twig
		
	 {% endfor %}		
	 //fin du if de twig
     {% endif %}
	     
});

</script>

{% endblock %}
