{% extends 'base.html.twig' %}
{% block body %}

<!--### DEBUT MODIFS ###-->
<!--banner-->
<div class="banner">
    <div class="container">	
    	<div class="wmuSlider example1">
    		<div class="wmuSliderWrapper">
    		{% if banners is defined %}
    		{% for banner in banners %}
    			<article style="position: absolute; width: 100%; opacity: 0;">
    			
    				<div class="banner-wrap">					
    					<div class="banner-top">
    						<a href="single.html/{{ banner.id }}">
        						<div class="banner-top-in">
        							<img src="{{ banner.picture }}" class="img-responsive" alt="">
        						</div>
    						</a>
    						<div class="cart-at grid_1 simpleCart_shelfItem">
    							<div class="item_add">
    								<span class="item_price" >{{ banner.price }} €</span>
    							</div>
    							<div class="off">
    								<label>35% off !</label>
    								<p>On met quoi ici?</p>
    							</div>
    						</div>
    						<div class="clearfix"> </div>	
    					</div>
    					<div class="banner-top banner-bottom">
    						<a href="single.html/{{ banner.id }}">
        						<div class="banner-top-in at">
        							<img src="{{ banner.picture }}" class="img-responsive" alt="">
        						</div>
    						</a>
    						<div class="cart-at grid_1 simpleCart_shelfItem">
    							<div class="item_add">
    								<span class="item_price" >{{ banner.price }} €</span>
    							</div>
    							<div class="off">
    								<label>35% off !</label>
    								<p>On met quoi ici?</p>
    							</div>
    						</div>
    						<div class="clearfix"> </div>		
    					</div>
    				   	<div class="clearfix"> </div>		 
    				</div>
    				
    			</article>
    			{% endfor %}	
    		{% endif %}
    		</div>
    		<ul class="wmuSliderPagination">
            	<li><a href="#" class="">0</a></li>
                <li><a href="#" class="">1</a></li>
                <li><a href="#" class="wmuActive">2</a></li>
            </ul>
    	</div>
    		<!---->
    	<script src="js/jquery.wmuSlider.js"></script> 
    		<script>
           		$('.example1').wmuSlider({
    				pagination : true,
    				nav : false,
    			});         
       		</script> 	   		
    </div>   
</div>
<div class="content">
	<div class="container">
		<div class="content-top">
			<h2 class="new">NEW ARRIVALS</h2>
			<div class="pink">
			<!-- requried-jsfiles-for owl -->
        		<link href="/css/owl.carousel.css" rel="stylesheet">
        		<script src="/js/owl.carousel.js"></script>
        		<script>
        			$(document).ready(function() {
        				$("#owl-demo").owlCarousel({
        					items : 4,
        					lazyLoad : true,
        					autoPlay : true,
        					pagination : true,
        				});
        			});
        		</script>
				<!-- //requried-jsfiles-for owl -->
				<!-- ### SECTION NEW ARRIVALS ###  -->
				{%  if newarrivals is defined %}
				<div id="owl-demo" class="owl-carousel text-center">
				{% for arrival in newarrivals %}	
					<div class="item">
						<div class=" box-in">
							<div class=" grid_box">		
								<a href="single.html/{{ arrival.id }}" > <img src="{{ arrival.picture }}" class="img-responsive" alt=""></a> 	
		           			</div>
					<!---->
							<div class="grid_1 simpleCart_shelfItem">
								<a href="#" class="cup item_add">
									<span class=" item_price" >{{ arrival.price }} €<i> </i> </span>
								</a>					
							</div>
					<!---->
						</div>
					</div>
				{% endfor %}
					<div class="clearfix"> </div>
				</div>	
				{% endif %}	
				
			</div>
		</div>	 
		<!-- ### FIN MODIFS ###  -->
		<!---->
	<div class="content-middle">
		<h2 class="middle">BEST SALES</h2>

    	<div class="col-best">	
    			{% if list_new_arrivals is defined  %}
    						{% for rows in list_new_arrivals %}
    			<div class="col-md-4">
    				<a href="/single.html/{{ rows.id }}"><div class="col-in">
    					<div class="col-in-left">
    						<img src="/{{ rows.picture }}" class="img-responsive" style="width:80%" alt="">
    					</div>
    					</a>
    					<div class="col-in-right grid_1 simpleCart_shelfItem">
    						<h5>{{ rows.label }}</h5>
    						<ul class="star">
    							<li><a href="#"><i> </i> </a> </li>
    							<li><a href="#"><i> </i> </a> </li>
    							<li><a href="#"><i> </i> </a> </li>
    							<li><i class="in-star"> </i>  </li>
    						</ul>
    						<!---->
    						<a href="#" class="item_add"><span class="white item_price" >{{ rows.price }} € <i> </i> </span></a>
    						<!---->
    					</div>
    					<div class="clearfix"> </div>
    				
    			</div>
    	</div> 
    			
    		{% endfor %}	
       		{% endif %}
       <div class="clearfix"> </div>		
       		
    	</div>      		

</div>
	<!---->
		
			<div class="content-bottom">
				<div class="col-md-8 latter">
					<h6>NEWSLETTER</h6>
					<p>sign up now to our newsletter discount! to get the Welcome discount</p>
					
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 latter-right">
					
						<form>
						<div class="join">
							<input type="text" value="your email here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'your email here';}">
							<i> </i>
						</div>
							<input type="submit" value="join us">
						</form>
						
				</div>
				<div class="clearfix"> </div>
			</div>

	<!---->
	<div class="bottom-content">
	
			<div class="col-md-4">
				<img src="images/ad1.png" class="img-responsive" alt="">
			</div>
			<div class="col-md-4">
				<img src="images/ad1.png" class="img-responsive" alt="">
			</div>
			<div class="col-md-4">
				<img src="images/ad1.png" class="img-responsive" alt="">
			</div>
			<div class="clearfix"> </div>
		</div>
	
	</div>
</div>
{% endblock %}