{% extends 'base.html.twig' %}

{% set addTypeList = ["domicile", "facturation", "courrier", "livraison"] %}
{% set domicile = 0 %}
{% set facturation = 0 %}
{% set courrier = 0 %}
{% set livraison = 0 %}
					
{% block body %}


<div class="container">
	<div class="contact">
		<h2>PROFIL</h2>
		<div class="contact-in">
			<div class=" col-md-3 contact-right"></div>
			<div class=" col-md-9 contact-left">
				<form name="profil" action="/profil.html" method="post">
					<div style="margin: 2em 0 1em 0;">
						<h3>Login informations</h3>
					</div>
					{% for profil in allProfil %}
    					<div>
    						<span>E-Mail : {{ profil.email }}</span>
    					</div>
    					<div>
    						<label style="font-weight: normal;"><span>Password
    								: </span></label> <input name="password" type="password" class="textbox"
    							value="{{ profil.password }}" />
    					</div>
    					<div>
    						<span>Username&nbsp;&nbsp;&nbsp;<em>*need to log out
    								to apply modification</em></span> <input name="username" type="text"
    							class="textbox" value="{{ profil.username }}" />
    					</div>
    					<div style="margin: 2em 0 1em 0;">
    						<h3>Personal informations</h3>
    					</div>
    					<div>
    						<span>Civility</span> <input name="civilite" type="radio"
    							value="Monsieur" {% if profil.civility == 'Monsieur' %} checked
    							{% endif %}> Mister&nbsp;&nbsp;&nbsp; <input
    							name="civilite" type="radio" value="Madame"
    							{% if profil.civility == 'Madame' %} checked {% endif %}>
    						Miss
    					</div>
    					<div>
    						<span>Firstname</span> <input name="prenom" type="text"
    							class="textbox" value="{{ profil.firstname }}" />
    					</div>
    					<div>
    						<span>Lastname</span> <input name="nom" type="text"
    							class="textbox" value="{{ profil.lastname }}" />
    					</div>
    					<div>
    						<span>Tel</span> <input name="telephone" type="text"
    							class="textbox" value="{{ profil.phone }}" />
    					</div>
    					
    					<div style="margin: 2em 0 1em 0;">
    						<h3>Adress information</h3>
    					</div>
    					
    					<div id="checkbox" style="margin-top:40px; margin-bottom:40px;">
        					{% for addType in addTypeList %}
        							<input type="checkbox" id="chec{{ loop.index }}" {% if addType == "domicile" %}checked="checked" class="afficher" disabled {%  else %} class="cacher" {% endif %} name="checkbox{{addType}}" > {{addType}} </input>
        					{% endfor %}
    					</div>
    					<div class="panel-group" id="accordion">
    						{% for addType in addTypeList %}
        						<div class="panel panel-default" id="aff{{ loop.index }}">
        							<div class="panel-heading">
        								<h4 class="panel-title">
        								<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}"> {{ addType|capitalize }}</a>
        								</h4>
        							</div>		
        									
        							<div id="collapse{{ loop.index }}" class="panel-collapse collapse in">
        								
        								{% for adresse in adresses %}
        									{% if adresse.addresstype == addType %}
        										{% if addType == "domicile" %}
        											{% set domicile = 1 %}
        										{% endif %}
        										{% if addType == "livraison" %}
        											{% set livraison = 1 %}
        										{% endif %}
        										{% if addType == "facturation" %}
        											{% set facturation = 1 %}
        										{% endif %}
        										{% if addType == "courrier" %}
        											{% set courrier = 1 %}
        										{% endif %} 							
                								<div class="panel-body">						    
                    								<div>			
                    									<span>Number</span> <input name="numero{{ addType }}" type="text"
                    										class="textbox" value="{{ adresse.num }}" />
                    								</div>
                    								<div>
                    									<span>Street</span> <input name="rue{{ addType }}" type="text"
                    										class="textbox" value="{{ adresse.street }}" />
                    								</div>
                    								<div>
                    									<span>Postal Code</span> <input name="CP{{ addType }}" type="text"
                    										class="textbox" value="{{ adresse.pc }}" />
                    								</div>
                    								<div>
                    									<span>Town</span> <input name="ville{{ addType }}" type="text"
                    										class="textbox" value="{{ adresse.city }}" />
                    								</div>  									
                								</div>
            								{% endif %}
            							{% endfor %}
            							{% if livraison == 0 and addType == "livraison" %}      									
                								<div class="panel-body">						    
                        							<div>			
                        								<span>Number</span> <input name="numero{{ addType }}" type="text"
                        									class="textbox" value="" />
                        							</div>
                        							<div>
                        								<span>Street</span> <input name="rue{{ addType }}" type="text"
                        									class="textbox" value="" />
                        							</div>
                        							<div>
                        								<span>Postal Code</span> <input name="CP{{ addType }}" type="text"
                        									class="textbox" value="" />
                        							</div>
                        							<div>
                        								<span>Town</span> <input name="ville{{ addType }}" type="text"
                        									class="textbox" value="" />
                        							</div>  									
                    							</div>
            							{% endif %}
            							{% if facturation == 0 and addType == "facturation" %}
                								<div class="panel-body">						    
                        							<div>			
                        								<span>Number</span> <input name="numero{{ addType }}" type="text"
                        									class="textbox" value="" />
                        							</div>
                        							<div>
                        								<span>Street</span> <input name="rue{{ addType }}" type="text"
                        									class="textbox" value="" />
                        							</div>
                        							<div>
                        								<span>Postal Code</span> <input name="CP{{ addType }}" type="text"
                        									class="textbox" value="" />
                        							</div>
                        							<div>
                        								<span>Town</span> <input name="ville{{ addType }}" type="text"
                        									class="textbox" value="" />
                        							</div>  									
                    							</div>
            							{% endif %}
            							{% if courrier == 0 and addType == "courrier" %}
                									<div class="panel-body">						    
                        							<div>			
                        								<span>Number</span> <input name="numero{{ addType }}" type="text"
                        									class="textbox" value="" />
                        							</div>
                        							<div>
                        								<span>Street</span> <input name="rue{{ addType }}" type="text"
                        									class="textbox" value="" />
                        							</div>
                        							<div>
                        								<span>Postal Code</span> <input name="CP{{ addType }}" type="text"
                        									class="textbox" value="" />
                        							</div>
                        							<div>
                        								<span>Town</span> <input name="ville{{ addType }}" type="text"
                        									class="textbox" value="" />
                        							</div>  									
                    							</div>
            							{% endif %}
        							</div>	
        						</div>
    						{% endfor %}
    					</div>
					{% endfor %}
					<div>
						<input type="submit" value="Submit">
					</div>
				</form>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>


{% endblock %}

{% block javascripts %} 
<script>
$(document).ready(function(){
	
	$("#accordion>div:not(:first)").hide();//on cache les onglets sauf l'onglet domicile
});
{% for addType in addTypeList %}

	//on affiche l'onglet souhaité en cliquant sur la case à cocher qui va de paire.
	$('#chec{{ loop.index }}').on('click', function() {
			$('#aff{{ loop.index }}').toggle();
			});

{% endfor %}

</script>
{% endblock %}


