{% extends 'base.html.twig' %}

{% set addTypeList = ["domicile", "facturation", "courrier", "livraison"] %}
{% set domicile = 0 %}
{% set facturation = 0 %}
{% set courrier = 0 %}
{% set livraison = 0 %}
					
{% block body %}


<div class="container">
	<div class="contact">
		<h2>PROFIL</h2>
		<div class="contact-in">
			<div class=" col-md-3 contact-right"></div>
			<div class=" col-md-9 contact-left">
			<div id="messageerreur"></div>
				<form id='form1' name="profil" action="/profil.html" method="post">
					<div style="margin: 2em 0 1em 0;">
						<h3>Login informations</h3>
					</div>
					{% for profil in allProfil %}
    					<div>
    						<span>Username : {{ profil.username }}</span>
    					</div>
    					<div>
    						<span>E-Mail : {{ profil.email }}</span>
    					</div>
    					<div>
    						<label style="font-weight: normal;"><span>Password
    								: </span></label> <input name="password" type="password" class="textbox"
    							value="{{ profil.password }}" maxlength="64" required />
    					</div>
    					<div>
    						<label style="font-weight: normal;"><span>Repeat password : </span></label>
    						<input id="confirm_password" name="reppassword" type="password" class="textbox" value="{{ profil.password }}" maxlength="64" placeholder="Confirm Password" />
    					</div>
    					
    					<div style="margin: 2em 0 1em 0;">
    						<h3>Personal informations</h3>
    					</div>
    					<div>
    						<span>Civility</span> <input name="civilite" type="radio"
    							value="Monsieur" {% if profil.civility == 'Monsieur' %} checked
    							{% endif %}> Mister&nbsp;&nbsp;&nbsp; <input
    							name="civilite" type="radio" value="Madame"
    							{% if profil.civility == 'Madame' %} checked {% endif %}>
    						Miss
    					</div>
    					<div>
    						<span>Firstname</span> <input name="prenom" type="text"
    							class="textbox" value="{{ profil.firstname }}" maxlength="32" required />
    					</div>
    					<div>
    						<span>Lastname</span> <input name="nom" type="text"
    							class="textbox" value="{{ profil.lastname }}" maxlength="64" required />
    					</div>
    					<div>
    						<span>Tel: +33</span> <input name="telephone" type="text"
    							class="textbox" value="{{ profil.phone }}" maxlength="9" required />
    					</div>
    					
    					<div style="margin: 2em 0 1em 0;">
    						<h3>Adress information</h3>
    					</div>
    					
    					<div id="checkbox" style="margin-top:40px; margin-bottom:40px;">
        					{% for addType in addTypeList %}
        							<input type="checkbox" id="chec{{ loop.index }}" {% if addType == "domicile" %}checked="checked" class="afficher" disabled{% else %} class="cacher" {% endif %} name="checkbox{{addType}}" > {{addType}} </input>
        					{% endfor %}
    					</div>
    					<div class="panel-group" id="accordion">
    						{% for addType in addTypeList %}
        						<div class="panel panel-default" id="aff{{ loop.index }}">
        							<div class="panel-heading">
        								<h4 class="panel-title" style="width: 90%; float: left">
        								<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}"> {{ addType|capitalize }}</a>
        								</h4>
        								{% if addType != "domicile" %}
        								<a href="/supprimeradresse/{{ addType }}"><input type="button" name="suppraddr{{ loop.index }}" id="suppraddr{{ loop.index }}" value="Delete" /></a>
        								{% endif %}
        								<div style="clear:both"></div>
        							</div>		
        									
        							<div id="collapse{{ loop.index }}" class="panel-collapse collapse in">
        								
        								{% for adresse in adresses %}
        									{% if adresse.addresstype == addType %}
        										{% if addType == "domicile" %}
        											{% set domicile = 1 %}
        										{% endif %}
        										{% if addType == "livraison" %}
        											{% set livraison = 1 %}
        										{% endif %}
        										{% if addType == "facturation" %}
        											{% set facturation = 1 %}
        										{% endif %}
        										{% if addType == "courrier" %}
        											{% set courrier = 1 %}
        										{% endif %} 							
                								<div class="panel-body">						    
                    								<div>			
                    									<span>Number</span> <input name="numero{{ addType }}" type="text"
                    										class="textbox" maxlength="16" value="{{ adresse.num }}" {% if addType == "domicile" %}required{% endif %} />
                    								</div>
                    								<div>
                    									<span>Street</span> <input name="rue{{ addType }}" type="text"
                    										class="textbox" maxlength="128" value="{{ adresse.street }}" {% if addType == "domicile" %}required{% endif %} />
                    								</div>
                    								<div>
                    									<span>Postal Code</span> <input name="CP{{ addType }}" type="text"
                    										class="textbox" maxlength="5" value="{{ adresse.pc }}" {% if addType == "domicile" %}required{% endif %} />
                    								</div>
                    								<div>
                    									<span>Town</span> <input name="ville{{ addType }}" type="text"
                    										class="textbox" maxlength="32" value="{{ adresse.city }}" {% if addType == "domicile" %}required{% endif %} />
                    								</div>  									
                								</div>
            								{% endif %}
            							{% endfor %}
            							{% if livraison == 0 and addType == "livraison" %}      									
                								<div class="panel-body">						    
                        							<div>			
                        								<span>Number</span> <input name="numero{{ addType }}" type="text"
                        									class="textbox" maxlength="16" value="" />
                        							</div>
                        							<div>
                        								<span>Street</span> <input name="rue{{ addType }}" type="text"
                        									class="textbox" maxlength="128" value="" />
                        							</div>
                        							<div>
                        								<span>Postal Code</span> <input name="CP{{ addType }}" type="text"
                        									class="textbox" maxlength="5" value="" />
                        							</div>
                        							<div>
                        								<span>Town</span> <input name="ville{{ addType }}" type="text"
                        									class="textbox" maxlength="32" value="" />
                        							</div>  									
                    							</div>
            							{% endif %}
            							{% if facturation == 0 and addType == "facturation" %}
                								<div class="panel-body">						    
                        							<div>			
                        								<span>Number</span> <input name="numero{{ addType }}" type="text"
                        									class="textbox" maxlength="16" value="" />
                        							</div>
                        							<div>
                        								<span>Street</span> <input name="rue{{ addType }}" type="text"
                        									class="textbox" maxlength="128" value="" />
                        							</div>
                        							<div>
                        								<span>Postal Code</span> <input name="CP{{ addType }}" type="text"
                        									class="textbox" maxlength="5" value="" />
                        							</div>
                        							<div>
                        								<span>Town</span> <input name="ville{{ addType }}" type="text"
                        									class="textbox" maxlength="32" value="" />
                        							</div>  									
                    							</div>
            							{% endif %}
            							{% if courrier == 0 and addType == "courrier" %}
                									<div class="panel-body">						    
                        							<div>			
                        								<span>Number</span> <input name="numero{{ addType }}" type="text"
                        									class="textbox" maxlength="16" value="" />
                        							</div>
                        							<div>
                        								<span>Street</span> <input name="rue{{ addType }}" type="text"
                        									class="textbox" maxlength="128" value="" />
                        							</div>
                        							<div>
                        								<span>Postal Code</span> <input name="CP{{ addType }}" type="text"
                        									class="textbox" maxlength="5" value="" />
                        							</div>
                        							<div>
                        								<span>Town</span> <input name="ville{{ addType }}" type="text"
                        									class="textbox" maxlength="32" value="" />
                        							</div>  									
                    							</div>
            							{% endif %}
        							</div>	
        						</div>
    						{% endfor %}
    					</div>
					{% endfor %}
					<div>
						<input id="submit" type="submit" value="Submit">
					</div>
				</form>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>


{% endblock %}

{% block javascripts %} 
<script>

$(document).ready(function(){

	$('#submit').on('click', function(event){
		event.preventDefault();
		$.ajax({
			type: 'POST',
			url: "/profil.html",
			data: $("#form1").serialize(),
			success: function(response) {
				console.log(response);
			$('#messageerreur').empty();
			$('#messageerreur').prepend('<p style="color: red"><em>'+response+'</em></p>');	
						
			console.log(response);
			},	
		error: function(response) {
			console.log('erreur : '+ response);
				}			
		});
		$("html, body").animate({ scrollTop: 0 }, 600);
	});
	
    {% for addType in addTypeList %}
    
    	//on affiche l'onglet souhaité en cliquant sur la case à cocher qui va de paire.
    	$('#chec{{ loop.index }}').on('click', function() {
    			$('#aff{{ loop.index }}').toggle();
    			});
    
    {% endfor %}
    
    //si le profil a une adresse de facturation (facturation ==1), on coche la checkbox et on affiche la div
    {% if facturation == 1 %}
    	$('#chec2').attr('checked', 'checked');
    	$('#aff2').show();
    {% else %}
   		$('#aff2').hide();
    {% endif %}

  //si le profil a une adresse de courrier (facturation ==1), on coche la checkbox et on affiche la div
    {% if courrier == 1 %}
        $('#chec3').attr('checked', 'checked');
    	$('#aff3').show();
    {% else %}
    	$('#aff3').hide();
    {% endif %}
  //si le profil a une adresse de livraison (facturation ==1), on coche la checkbox et on affiche la div
    {% if livraison == 1 %}
        $('#chec4').attr('checked', 'checked');
    	$('#aff4').show();
    {% else %}
    	$('#aff4').hide();
    {% endif %}

  //confirmation du password
    var password = document.getElementById("password")
    , confirm_password = document.getElementById("confirm_password");
    
    function validatePassword(){
        if(password.value != confirm_password.value) {
          confirm_password.setCustomValidity("Passwords Don't Match");
        } 
        else {
          confirm_password.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
        
}); 
</script>
{% endblock %}


