{% extends 'base.html.twig' %}
{% set prod_id = 0 %}
{% block scripts %}
<link rel="stylesheet" href="css/etalage.css">

<script src="js/jquery.etalage.min.js"></script>
<script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 400,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});
			});
		</script>
{% endblock %}

{% block body %}
<div class="content">
	<div class="container">
		<div class="single">
			<div class="col-md-9 top-in-single">
				<div class="col-md-5 single-top">
					{% for rows in products %}
					<img class="etalage_thumb_image img-responsive"
						src="/{{ rows.picture }}">
				</div>
				<div class="col-md-7 single-top-in">
					<div class="single-para">
						<h4>
							{{ rows.label }}
						</h4>
						<p>
							{{ rows.description }}
						</p>
						<div class="star-on">
							<ul>
								<li><a href="#"><i> </i></a></li>
								<li><a href="#"><i> </i></a></li>
								<li><a href="#"><i> </i></a></li>
								<li><a href="#"><i> </i></a></li>
								<li><a href="#"><i> </i></a></li>
							</ul>
							<div class="review">
								<a href="#"> 3 reviews </a>/ <a href="#"> Write a review</a>
							</div>

							<div class="clearfix"></div>
						</div>
						<label class="add-to" name="prix" id="prix">{{ rows.price }}
							€</label>
						<div class="available">
							<h6>Available Options :</h6>
							<ul>
								<li>Quantité: <input type="text" value="1" id="qt-rec" /></li>
							</ul>
						</div>

						<a href="/caddie/ajouter/{{ rows.id }}/1" class="cart"
							id="url_add">Ajouter au panier</a>
					</div>

				</div>
				<div class="clearfix"></div>
				<!----- tabs-box ---->
				<div class="sap_tabs">
					<div id="horizontalTab"
						style="display: block; width: 100%; margin: 0px;">
						<ul class="resp-tabs-list">
							<li class="resp-tab-item " aria-controls="tab_item-0" role="tab"><span>Product
									Description</span></li>
							<li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Additional
									Information</span></li>
							<li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Reviews</span></li>
							<div class="clearfix"></div>
						</ul>
						<div class="resp-tabs-container">
							<h2 class="resp-accordion resp-tab-active" role="tab"
								aria-controls="tab_item-0">
								<span class="resp-arrow"></span>Product Description
							</h2>
							<div class="tab-1 resp-tab-content resp-tab-content-active"
								aria-labelledby="tab_item-0" style="display: block">
								<div class="facts">
									<p>
										{{ rows.description }}
									</p>
									<ul>
										<li>System integration</li>
										<li>Verification, Validation and Testing</li>
										<li>Maintenance and Support</li>
									</ul>
								</div>
							</div>
							<h2 class="resp-accordion" role="tab" aria-controls="tab_item-1">
								<span class="resp-arrow"></span>Additional Information
							</h2>
							<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
								<div class="facts">
									<p>
										{{ rows.description }}
									</p>
									<ul>
										<li>Multimedia Systems</li>
										<li>Digital media adapters</li>
										<li>Set top boxes for HDTV and IPTV Player applications
											on various Operating Systems and Hardware Platforms</li>
									</ul>
								</div>
							</div>
							<h2 class="resp-accordion" role="tab" aria-controls="tab_item-2">
								<span class="resp-arrow"></span>Reviews
							</h2>
							<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
								<div class="facts">
									<p>
										{{ rows.description }}
									</p>
									<ul>
										<li>Research</li>
										<li>Design and Development</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					<script src="/js/easyResponsiveTabs.js" type="text/javascript"></script>
					<script type="text/javascript">
			    $(document).ready(function() {
			        $('#horizontalTab').easyResponsiveTabs({
			            type: 'default', //Types: default, vertical, accordion           
			            width: 'auto', //auto or any width like 600px
			            fit: true   // 100% fit in a container
			        });
			    });
			   </script>
				</div>
			</div>

			<div class="clearfix"></div>
		</div>

	</div>

</div>

{% endblock %}

{% block javascripts %}


<script>
//quand la page est chargée alors on execute le code dans les balises script
{%  if products is defined %}

$(document).ready(function(){
	$("#qt-rec").on('blur', function(event){
	  {% for product in products %}
	  	 var prod_id = {{product.id}};
      {% endfor %}
			var eventValue = event.target.value;
			var url = "/caddie/ajouter/"+prod_id+"/"+eventValue;
	       	var qValue = $('#qt-rec').val();
			$('#url_add').attr('href', url);
	});
	$("#url_add").on('click', function(event){
		event.preventDefault();
		$.ajax($('#url_add').attr('href')).done(function(data){
			var datas = JSON.parse(data);
			$('#simpleCart_quantity').empty();
			$('#simpleCart_quantity').prepend(datas["nbitem"]);									
		});
	});
});
</script>
{% endif %}
{% endblock %}


